* {
    background-color: black;
    opacity: 0.9;
}

.main-title {
    text-align: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

a {
    color: aquamarine;
    font-size: 20px;
}

.video-mp4 {
    text-align: center;
}

.personal-guide {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
}

p {
    font-size: 21px;
    color: gray;
}

.camp {
    text-align: center;
}

.phone {
    margin-top: 50px;
}

.coming-soon {
    text-align: center;
}

.foot-excursion {
    text-align: right;
    color: grey;
    font-size: 25px;
}